[submodule "a1-rationalisierung/code"]
	path = a1-rationalisierung/code
	url = https://github.com/ohg-informatik/BWINF32-Rationalisierung.git
[submodule "a3-vortaenzer/code"]
	path = a3-vortaenzer/code
	url = https://github.com/ohg-informatik/BWINF32-DanceMaster.git
[submodule "j1-songwriter/code"]
	path = j1-songwriter/code
	url = https://github.com/ohg-informatik/BWINF32-SongWriter.git
